/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
 





#root{
  background-color: #F86E51;
  height: 100vh;
}


.timer-box{
  height: 400px;
  width:400px;
  border-style: dotted;
}

/* styles.css */
.bordered {
  border: 2px solid black;
  border-radius: 5px;
}

.setting-btn,
.start-btn,
.login-btn,
.add-task-btn {
  border: 5px solid #F6C81C;
border-radius: 14px;
background-color: bisque;
}

.navbar,
.task-header{
  border-bottom: 5px double rgba(230,215,41,0.22);
  margin-bottom: 75px;
}

.timer-display{
  font-size: 70px;
}



