/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
 





#root{
  background-color: #F86E51;
  height: 100%;
}


.timer-box{
  height: 400px;
  width:400px;
  border-style: dotted;
}

/* styles.css */
.bordered {
  border: 2px solid black;
  border-radius: 5px;
}

.setting-btn,
.start-btn,
.login-btn,
.add-task-btn,
.timer-btn {
  border: 5px solid #F6C81C;
border-radius: 14px;
background-color: bisque;
}

.navbar,
.task-header{
  border-bottom: 5px double rgba(230,215,41,0.22);
  margin-bottom: 75px;
}

.timer-display{
  font-size: 70px;
}

.task-btn{
  margin-right:10px
}

.task-card{
  background-color: rgb(81, 31, 70);
  box-shadow: #333;
}

.link-unstyled {
  text-decoration: none;
  color: #333;
}






.chatbox,
.task-box{
  /* height: 600px;
  width:800px; */
  border-style: dotted;
  background-color: lightsalmon;
  border: 3px solid #EAECC5;
border-radius: 15px;
 -webkit-box-shadow: 5px 5px 15px -6px #000000; 
box-shadow: 5px 5px 15px -6px #000000
}

.response {
  height: fit-content;
  margin: 7px;
  padding: 10px;
  border-radius: 25px;
  background-color: lightyellow;
  color: black;
  animation: forwards;
  -webkit-border-radius: 40px 40px 40px 0px;
-moz-border-radius: 40px 40px 40px 0px;
border-radius: 40px 40px 40px 0px;
outline: 5px ridge #F4DAA2;
outline-offset: 0px;
}
.question{
  width: 40%;
}
.duck{
  height: 40%;
  width: 40%;
}
.duck-cont{
  display: flex;
  justify-items: center;
}
.main{
  display: flex;
}
.input{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tag{
  width: 50%;
  padding-left: 5px;
}

.task-box{
  height: 20px;
  width: 400px;
}

.delete-btn{
  width: 50px;
  height:50px
}

.task-text{
  font-size:larger;
}

.task-box{
  background-color: #F4DAA2;
}

.task-section,
.timer-box{
  background-color: lightsalmon;
  border: 3px solid #EAECC5;
border-radius: 15px;
 -webkit-box-shadow: 5px 5px 15px -6px #000000; 
box-shadow: 5px 5px 15px -6px #000000;
padding: 20px;
margin-right: 30px;
}
